
$blue: #267AEF;
$black: #1d1d1f; //headerss 
$light-gray: #F5F5F7; //backgrounds 
$gray: #78787D; //paragraph text

$main-font: "Montserrat", sans-serif;

$soft-btn-shadow: 0px 2px 15px rgba(0,0,0,0.15);


body {
	margin: 0;
    padding: 0;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    overflow-x: hidden;
}


a {
	color: $blue;
	&:hover {
		color: lighten($blue, 15%);
		transition: all ease-in .2s;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $black;
}

p {
	color: $gray;
	line-height: 1.6em;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  background-image: url('/assets/img/bg-arrow.png');
  background-size: 80%;
  background-position: 95% 145%;
  background-repeat: no-repeat;
  padding-top: 0px;
  margin-bottom: 120px;

	.btn-get-started {
	  margin-top: 46px;
	  font-weight: 600;
	  border-radius: 24px;
	  color: white;
	  font-size: .9em;
	  background: $blue;
	  box-shadow: $soft-btn-shadow;
	}

	.hero-h1 {
		margin-top: 0px;
	}

	.caret-link {
		width: auto;
		display: block;
		right: 60px;
		text-align: right;
		position: absolute;
		bottom: 30px;
		font-weight: 600;
		font-size: .85em;

		p#link {
			margin-bottom: 8px;
			color: $blue;
		}

		div#down-caret {
			background-color: $blue;
			height: 32px;
			width: 32px;
			line-height: 100%;
			margin: 0px auto;
			font-weight: 800;
			text-align: center;
			font-size: 1.6em;
			border-radius: 100%;
			color: white;
			box-shadow: $soft-btn-shadow;
		}
	}

}



/*--------------------------------------------------------------
# Main Paragraph Sections
--------------------------------------------------------------*/

section.main {
	height: 90vh;

	.text {
		//border: 1px solid green;
		padding: 0px 30px;
	}

	.image {
		//border: 1px solid blue;
		text-align: center;
	}

	h2 {
		font-weight: 700;
		font-size: 1.3em;
		margin: 15px 0px;
		line-height: 1.3em;
	}

	.img-fluid.medium {
		max-width: 80%;
		margin: 0 auto;
	}

}



/*--------------------------------------------------------------
# Footnote Section
--------------------------------------------------------------*/

// In-line footnote
.footnote {
	font-weight: 600;
	padding: 2px 5px;
	color: $blue;
}

section.footnotes {
	//border: 1px solid aqua;
	padding: 20px 0px 15px;
	width: 80%;
	margin: 0 auto;

  -webkit-mask-image: -webkit-gradient(
    linear, center top, center bottom, 
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.35,  rgba(0,0,0,0.9)),
    color-stop(0.50,  rgba(0,0,0,0.7)),
    color-stop(0.65,  rgba(0,0,0,0.4)),
    color-stop(1.00,  rgba(0,0,0,0)));

	h4 {
		font-size: 0.8em;
		padding-top: 30px;
		font-weight: bold;
		letter-spacing: 0.02em;
		//text-transform: uppercase;
		border-top: 1px solid darken($light-gray, 5%);
		width: 95%;
	}

	.row {
		margin: 30px 0px;
		z-index: -1;
		
		&:first-child {
			margin-top: 20px;
		}
	
	}

	.col-lg-1 {
		max-width: 2%;
		color: $blue;
		font-weight: 600;
	}

	.col-lg-11 {
		line-height: 1.3em;
	}

	strong.footnote-title {
		font-size: 0.7em;
		color: $gray;
		font-weight: 500;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		display: block;
		line-height: 0.8em;
	}

	span, a {
		font-size: .78em;
	}

	span.source {
		display: inline-block;
		color: $black;
		font-weight: 600;
		margin-top: 10px;
	}

	a {
		margin-left: 4px;
		font-weight: 500;
		font-style: italic;
		color: $black;
		border-bottom: 1px solid $blue;
		
		&:hover {
			color: $blue;
			transition: all ease-in .2s;
		}
	}
	.hidden-footnotes {
		display: none;
	}
}



/*--------------------------------------------------------------
# Request Section
--------------------------------------------------------------*/

.headshot {
  width: 70px;
  height: 70px;
  background-image: url('/assets/img/jack.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  z-index: 9;
  margin: 0 auto;
  position: absolute;
  margin-left: 47.2%;
  margin-top: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

section.request {

	.typeform-widget {
		margin-top: 30px;
	}
}


/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

footer {
	background: $light-gray;
	color: $gray;
	font-weight: 500;
	font-size: 0.7em;

	.credits {
		margin-top: 6px;
	}

	img.icon {
		margin-top: 2px;
		width: 36px;
	}
}


/*--------------------------------------------------------------
# Splash  
--------------------------------------------------------------*/

#splash {
  	width: 100%;
  	height: 100vh;
 	background-image: radial-gradient(40% 80%, rgba(38,122,239,0.60) 0%, #267AEF 100%);

	.splash-logo {
		width: 50%;
		margin: 0 auto;
		padding-right: 20px;
		padding-bottom: 20px;
	}
 }



/*--------------------------------------------------------------
# JS/jQuery Styles 
--------------------------------------------------------------*/

// .hero-h1, .btn-get-started.top, .caret-link, #hero {
// 	opacity: 0;
// }

.highlight {
	width: 300px;
    height: 12px;
    margin-top: -20px;
    background-color: #ffd673;
    opacity: 0.9;
    z-index: -9;
}


