
$blue: #267AEF;
$black: #1d1d1f; //headers
$light-gray: #F5F5F7; //backgrounds 
$gray: #6c6c70; //paragraph text
$teal: #00DEAB; //accent color
$green: #8bc34a; //success color

$light-blue: #E5F1FF;

$main-font: "Montserrat", sans-serif;
$soft-btn-shadow: 0px 2px 15px rgba(0,0,0,0.15);